Take a look at this notebook: https://github.com/kaiden-ong/IsraelPalestineSentimentAnalysis/blob/main/Cleaning%20%26%20Analysis/MachineLearningModels.ipynb

In [33]:
import matplotlib.pyplot as plt
import csv
import sklearn
import numpy as np
import pandas as pd

In [34]:
df_fake = pd.read_csv('data/DataSet_Misinfo_FAKE.csv')
df_fake = df_fake.dropna()
df_fake.head()

   Unnamed: 0                                               text
0           0  Donald Trump just couldn t wish all Americans ...
1           1  House Intelligence Committee Chairman Devin Nu...
2           2  On Friday, it was revealed that former Milwauk...
3           3  On Christmas day, Donald Trump announced that ...
4           4  Pope Francis used his annual Christmas Day mes...

In [35]:
df_fake.describe()

         Unnamed: 0
count  43642.000000
mean   22293.806173
std    12889.800176
min        0.000000
25%    10910.250000
50%    22450.500000
75%    33472.750000
max    44426.000000

In [36]:
df_real = pd.read_csv('data/DataSet_Misinfo_TRUE.csv')
df_real = df_real.dropna()

In [37]:
df_real.describe()

         Unnamed: 0
count  34946.000000
mean   17495.601127
std    10096.167826
min        0.000000
25%     8758.250000
50%    17501.500000
75%    26237.750000
max    34974.000000

In [38]:
df_fake['truth'] = 0
df_fake.head()

   Unnamed: 0                                               text  truth
0           0  Donald Trump just couldn t wish all Americans ...      0
1           1  House Intelligence Committee Chairman Devin Nu...      0
2           2  On Friday, it was revealed that former Milwauk...      0
3           3  On Christmas day, Donald Trump announced that ...      0
4           4  Pope Francis used his annual Christmas Day mes...      0

In [39]:
df_real['truth'] = 1
df_real.head()

   Unnamed: 0                                               text  truth
0           0  The head of a conservative Republican faction ...      1
1           1  Transgender people will be allowed for the fir...      1
2           2  The special counsel investigation of links bet...      1
3           3  Trump campaign adviser George Papadopoulos tol...      1
4           4  President Donald Trump called on the U.S. Post...      1

In [43]:
df = pd.concat([df_real, df_fake])
df = df.rename(columns={'Unnamed: 0': 'news'})
df.describe()

               news         truth
count  78588.000000  78588.000000
mean   20160.171604      0.444673
std    11969.802171      0.496933
min        0.000000      0.000000
25%     9837.750000      0.000000
50%    19965.500000      0.000000
75%    29837.250000      1.000000
max    44426.000000      1.000000

In [44]:
# Now for the ML

In [ ]:
X = df['news']
y = df['truth']